{# Contrôle de saisie en PHP uniquement : pas d'attribut HTML5 required (validation côté serveur). #}
{% extends "form_div_layout.html.twig" %}

{% block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="mt-1 list-none text-red-600 text-sm">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}
